<div class="dashboard-container">
  <mat-toolbar color="pink">
    <span>Dashboard-Text File Uploads</span>
  </mat-toolbar>

  <div class="content-container">
    <div class="file-upload-container">
      <app-file-upload></app-file-upload>
    </div>

    <div class="file-list-container">
      <mat-card>
        <mat-card-title>File List</mat-card-title>
        <mat-card-content>
          <app-file-list></app-file-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="chart-container">
      <mat-card>
        <mat-card-title>Chart</mat-card-title>
        <mat-card-content>
          <app-chart></app-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
